<div id="animation" class="page" data-ui-target="page">
  <div class="row">
    <div class="col text-center">
      <canvas data-animation-target="canvas" class="animation" height="300" />
      <a class="text" data-action="animation#stop ui#switch" data-ui-target-param="result"><img height="20" src="{{ asset(path = 'images/tap.svg') }}"> Skip!</a>
    </div>
  </div>
</div>