<div id="home" class="page" data-ui-target="page">
  <div class="d-flex w-100 justify-content-center user-select-none">
    <img class="mirror" src="{{ asset(path = 'images/soldiers/rebeltrooper.png') }}">
    <h1>STAR ROLLER</h1>
    <img src="{{ asset(path = 'images/soldiers/stormtrooper.png') }}">
  </div>
  <a id="start-btn" role="button" class="d-block" data-action="ui#switch sound#play" data-ui-target-param="roller" data-sound-file-param="{{ asset(path = 'sounds/ui/Confirm.mp3') }}">Start</a>
</div>