{% extends 'base.html.twig' %}

{% block title %}Star Roller{% endblock %}

{% block body %}
  <div id="ui" class="container-fluid vh-100 p-3" data-controller="sound ui roller animation" 
    data-action="roller:rolled->animation#prepare animation:done->ui#switch"
    data-ui-target-param="result"
    data-roller-dice-value="{{ dice|json_encode() }}"
    data-roller-symbols-value="{{ result|json_encode() }}"
    data-animation-background-value="{{ asset(path = 'images/background/endor.jpg') }}"
  >
    {# Home #}
    {% include "roller/_home.html.twig" %}

    {# Roller #}
    {% include "roller/_roller.html.twig" %}

    {# Animation #}
    {% include "roller/_animation.html.twig" %}

    {# Result #}
    {% include "roller/_result.html.twig" %}
  </div>
{% endblock %}

{% block importmap %}
  {{ importmap('roller') }}
{% endblock %}