@import url("btn.css");
@import url("dice.css");
@import url("fonts.css");
@import url("icons.css");

:root {
  --main-color: #ffe81f;
  --secondary-color: #4273ae;
  --danger-color: darkred;
  --main-back-color: black;
  --off-color: #57381b;
  --success-color: rgb(105,155,224);
  --failure-color: rgb(191,132,72);
  /* --off-color: silver; */
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "StarJedi";
  font-size: 1rem;
  line-height: 1.5;
  background-color: var(--main-back-color);
  color: white;
}

h1 {
  color: var(--main-color);
  font-family: "DistantGalaxyOutline";
}

h2, h3, h4, h5 {
  font-family: "DistantGalaxy";
}

#background {
  z-index:-1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.success {
  color: var(--success-color);
}

.failure {
  color: var(--failure-color);
}

.movie {
  background: black;
  display: flex;
  height: 100%;
  position: absolute;
  align-items: center;
}

.animation {
  height: 300px;
}

.text {
  margin: 0;
  /* font-family: "StarJedi"; */
  filter: drop-shadow(rgba(255, 255, 255, 1) 0px 0px 10px);
  color: white;
  text-align: right;
  line-height: 20px;
  font-size: 20px;
  padding-top: 20px;
  padding-right: 20px;
}
