.btn {
  font-family: "DistantGalaxyOutline";
  font-size: 2rem;
  line-height: 1.5;
  outline: 2px solid #4273ae;
  color: var(--secondary-color);
  box-shadow: inset 0 0 25px var(--secondary-color);
  cursor: pointer;
  text-decoration: none;
  border: none;
  
  &.btn-lg {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &:hover {
    font-family: "DistantGalaxy";
    color: var(--main-color);
    border: none;
    box-shadow: inset 0 0 1.5em var(--secondary-color);
  }
  &:active, &.btn-main:active {
    transform: scale(0.95);
    font-family: "DistantGalaxy";

    outline: 2px solid var(--main-color);
    box-shadow: inset 0 0 2em var(--main-color);
  }

  &.disabled {
    color: silver!important;
    outline-color: var(--off-color)!important;
    box-shadow: inset 0 0 1.2em var(--off-color)!important;
    font-family: "DistantGalaxy";
  }

  &.btn-add {
    font-size: 2.5rem;
    border-end-end-radius: 0;
    border-top-right-radius: 0;
  }

  &.btn-remove {
    font-size: 2.5rem;
    color: var(--danger-color);
    border-start-start-radius: 0;
    border-bottom-left-radius: 0;
  }

  &.btn-main {
    color: var(--main-color);
    outline-color: var(--main-color);
    box-shadow: inset 0 0 0.5em var(--main-color);
    &:hover {
      box-shadow: inset 0 0 1.5em var(--main-color);
    }
  }

}

#start-btn {
  display: block;
  width: 100%;
  font-size: 5rem;
  text-align: center;
  font-weight: normal;
  overflow: visible;
  text-align: center;
  font-family: "DistantGalaxyOutline";
  color: var(--main-color);
  text-decoration: none;
  &:hover {
    font-family: "DistantGalaxy";
  }
}
