.fs-symbol {
  font-family: 'EotE_Symbol-regular';
}

.fs-distant-galaxy {
  font-family: "DistantGalaxy";
  
  &.outline {
    font-family: "DistantGalaxyOutline";
  }
}

.fs-star-jedi {
  font-family: "StarJedi";
}



@font-face {
  font-family: "EotE_Symbol-Regular";
  src        : url("../fonts/EotE_Symbol-Regular.otf");
}

@font-face {
  font-family: "DistantGalaxy";
  src        : url('../fonts/DistantGalaxy.ttf');
}

@font-face {
  font-family: "DistantGalaxyOutline";
  src        : url('../fonts/DistantGalaxyAltOutline.ttf');
}

@font-face {
  font-family: "StarJedi";
  src        : url('../fonts/Starjedi.ttf');
}