<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>
      {% block title %}Welcome!
      {% endblock %}
    </title>
    <link rel="icon" href="{{ asset(path = 'images/soldiers/rebeltrooper.png') }}"> {% block stylesheets %}{% endblock %}

    {% block javascripts %}
      {% block importmap %}
        {{ importmap('app') }}
      {% endblock %}
    {% endblock %}
  </head>
  <body>
    <canvas id="background"></canvas>
    {% block body %}{% endblock %}
  </body>
</html>
